<ul class="enlaces">

<%
var secciones = {};
for (var i = 0; i < contenido.length; i++) {
    c = contenido[i];
    if (c.seccion === "") secciones[c.encabezado] = c;
    else {
        if (!secciones[c.seccion]) secciones[c.seccion] = [];
        secciones[c.seccion].push(c);
    }
}
%>
    <%for (var seccion in secciones) {
    var item = secciones[seccion];%>
    <li class="level1">
        <div class="li">
            <% if (item.seccion === "") {%>
                <a class="enlaces-cabecera" href="#<%=item.link%>"><%=item.encabezado%></a>
            </div>
        </li>
    <%} else {%>
        <a class="enlaces-cabecera"><%=seccion%></a>
    </div>
</li>
<ul class="enlaces">
    <%for (var it in item) {
            var elem = item[it];
            %>
    <li class="level2">
        <div class="li">
            <a class="enlaces-cabecera" href="#<%=elem.link%>">
                <%=elem.encabezado%>
            </a>
        </div>
    </li>
<%}%>
</ul>
<%}%>
<%}%>
</ul>
