<%# Helper Functions %>
<%function getSuperSection(seccion) {
	var res = "";
	if (seccion === "Personal" || seccion === "Información Económica" || seccion == "Perfil del Contratante") res = "Administración";
	else if (seccion === "Oferta y Demanda Académica" || seccion === "Claustro" || seccion === "Estudiantes") res = "Docencia";
	else if (seccion === "Gobierno" || seccion === "Rendimiento") res = "Gestión e Investigación";
	return res;
}%>

<%function slugify(text) {
	return text.toString().toLowerCase().trim().replace(/\s+/g, '-').replace(/&/g, '-and-').replace(/[^\w\-]+/g, '').replace(/\-\-+/g, '-');
}%>


<%# Menu Generators %>
<% function firstLevelItem(title, link, selected) { 
    var aClass="menu-link-tipo2";
    if (selected === title) aClass="menu-link-tipo2-selected"; %>
    <li>
    <a href="<%=link%>" class="<%=aClass%>"><%=title%></a>
    </li>
<%}%>

<% function firstLevelMenu(title, selected) {
var sel = getSuperSection(selected);
var itemClass = "menu-link-tipo2";
var submenuDisplay = "display:none"; //display:none;
var slug = slugify(title);
if (sel === title) {
    itemClass = "menu-link-tipo2-selected";
    submenuDisplay = "display:block";
}%>

<li>
    <a onclick="mostrar_menu('menu_<%=slug%>')" class="grupos <%=itemClass%>"><%=title%></a>
    <ul id="menu_<%=slug%>" style="<%=submenuDisplay%>">
        
<%}%>

<%function firstLevelMenuEnd() { %>
    </ul></li>
<%}%>

<% function secondLevelItem(title, link, selected) {
var item_class = "tipo1";
if (selected === title) item_class = "tipo1-selected";
%>

<li class="<%=item_class%>">
    <a href="<%=link%>" class="link-menu"><%=title%></a>
</li>
<%}%>

<%# MENU %>
<div id="menus">
    <div id="enlaces_secciones">
        <ul class="mod-menu_secciones">
            <%firstLevelItem("Inicio","/index.html",seccion)%>
            <%firstLevelItem("Información Institucional","/infoInstitucional.html",seccion)%>
            <%firstLevelMenu("Administración",seccion)%>
                <%secondLevelItem("Personal","/personal.html",seccion)%>
                <%secondLevelItem("Información Económica","/infoEconomica.html",seccion)%>
                <%secondLevelItem("Perfil del Contratante","/perfilContratante.html",seccion)%>
            <%firstLevelMenuEnd()%>
            <%firstLevelMenu("Docencia",seccion)%>
                <%secondLevelItem("Oferta y Demanda Académica","/ofertaDemanda.html",seccion)%>
                <%secondLevelItem("Claustro","/claustro.html",seccion)%>
                <%secondLevelItem("Estudiantes","/estudiantes.html",seccion)%>
            <%firstLevelMenuEnd()%>
            <%firstLevelMenu("Gestión e Investigación",seccion)%>
                <%secondLevelItem("Gobierno","/gobierno.html",seccion)%>
                <%secondLevelItem("Rendimiento","/rendimiento.html",seccion)%>
            <%firstLevelMenuEnd()%>
            <%firstLevelItem("Normativa Legal","/normativaLegal.html",seccion)%>
            <%firstLevelItem("Solicitud de Información","/solicitudInfo.html",seccion)%>
        </ul>
    </div>
</div>
