<%for (var elem in contenido) {%>
    <%var item = contenido[elem]%>
    <h1>
        <a id="<%=item.link%>" name="__doku_encabezado_de_primer_nivel"><%=item.encabezado%></a>
    </h1>
    <div class="level1">
        <p><%=item.texto%></p>
        <%switch (item.tipo) { 
            case 1:%>
        <table class="inline">
            <colgroup><col span="1" style="width: 90%;"><col span="1" style="width: 10%;"></colgroup>
            <tbody>
                <tr>
                    <th class="centeralign">Descripci贸n</th>
                    <th class="centeralign">Datos en Opendata</th>
                    <th class="centeralign">Ver</th>
                    <th class="centeralign">Descargar</th>
                </tr>

                <%for (var it in item.datos) {
                    var elem = item.datos[it]%>
                <tr>
                    <%#Descripcion%>
                    <td class="centeralign par"><%=elem.nombre%></td>
                    <%#Opendata%>
                    <td class="centeralign impar">
                        <a href="<%=servidor%>/dataset/<%=elem.id_dataset%>/resource/<%=elem.url%>" target="_blank">
                            <img src="/imagenes/link.png" alt="link" class="link">
                        </a>
                    </td>
                    <%#Ver%>
                    <td class="centeralign par">
                        <a href="#dialog" rel="<%=servidor%>/dataset/<%=elem.descarga%>" name="<%=elem.nombre%>" class="view">
                            <img src="/imagenes/view.png" alt="view" class="view">
                        </a>
                    </td>
                    <%#Descarga%>
                    <td class="centeralign impar">
                        <a href="<%=servidor%>/dataset/<%=elem.descarga%>">
                            <img src="/imagenes/save.png" alt="save" class="save">
                        </a>
                    </td>
                </tr>
            <%}%>
        </tbody>
    </table>
    <%break;%>
    <%case 2:%>
    <table class="inline">
        <colgroup><col span="1" style="width: 90%;"><col span="1" style="width: 10%;"></colgroup>
        <tbody>
            <tr>
                <th class="centeralign">Descripci贸n</th>
                <th class="centeralign">Enlace</th>
            </tr>
            <%for (var it in item.datos) {%>
                <%var elem = item.datos[it]%>
                <tr>
                    <%#descripcion %>
                    <td class="centeralign par"><%=elem.nombre%></td>
                    <%#enlace %>
                    <td class="centeralign impar">
                        <a href="<%=elem.url%>" target="_blank">
                            <img src="/imagenes/link2.png" alt="link" class="link">
                        </a>
                    </td>
                </tr>
            <%}%>
        </tbody>
    </table>
    <%break;%>
    <%case 3:%>
    <table class="inline">
        <colgroup><col span="1" style="width: 90%;"><col span="1" style="width: 10%;"></colgroup>
        <tbody>
            <tr>
                <th class="centeralign">Descripci贸n</th>
                <th class="centeralign">Ver</th>
                <th class="centeralign">Descargar</th>
            </tr>
            <%for (var it in item.datos) {
        var elem = item.datos[it]; 
        var link = "/doc/" + elem.url;
        %>
            <tr>
                <%#descripcion%>
                <td class="centeralign par"><%=elem.nombre%></td>
                <%#enlace%>
                <td class="centeralign impar">
                    <a href="<%=link%>" target="_blank">
                        <img src="/imagenes/pdf.png" alt="view" class="view">
                    </a>
                </td>

                <%#descarga%>
                <td class="centeralign par">
                    <a href="<%=link%>" download>
                        <img src="/imagenes/flecha.png" alt="save" class="save">
                    </a>
                </td>
            </tr>
        <%}%>
    </tbody>
</table>
<%break;%>
<%case 4:%>
<table class="inline">
    <colgroup><col span="1" style="width: 90%;"><col span="1" style="width: 10%;"></colgroup>
    <tbody>
        <tr>
            <th class="centeralign">Descripci贸n</th>
            <th class="centeralign">Ver</th>
            <th class="centeralign">Descargar</th>
        </tr>
        <%for (var it in item.datos) {
            var elem = item.datos[it];
            var link="/graph/"+elem.url;
            %>
        <tr>
            <%#Descripcion%>
            <td class="centeralign par"><%=elem.nombre%></td>
            <%#Ver%>
            <td class="centeralign">
                <a href="<%=link%>" data-lightbox="image-1" data-title="<%=elem.nombre%>">
                    <img src="/imagenes/grafico.png" alt="view" class="view">
                </a>
            </td>
            <%#Descarga%>
            <td class="centeralign par">
                <a href="<%=link%>" download>
                    <img src="/imagenes/flecha.png" alt="save" class="save">
                </a>
            </td>
        </tr>
    <%}%>
</tbody>
</table>
<%break;%>
<%}%>
</div>
<%}%>
