extends layout
include menu.jade

block content
	#rastro-idiomas
		#rastro
			ul#rastro_breadcrumb
				li.first
					span.first #{seccion}
	#general
		+ menu("Inicio")
		#pagina
			h1#titulo_pagina
				span.texto_titulo #{seccion}

			div(id="contenido", class="sec_interior")
				.content_doku
					each enlace in enlaces
						a(href="#{enlace[1]}", class="enlaces_index")
							div(id="#{enlace[2]}") #{enlace[0]}
