mixin item(valor)
	.li
		a(class="enlaces-cabecera" href="#{valor.link}",target="_blank") #{valor.item}

mixin list(values)
	h1
		a(name="__doku_encabezado_de_primer_nivel") #{values.titulo}

	ul.enlaces
		li.level1
			each valor in values.lista
				+ item(valor)

extends layout
include menu.jade

block content
	#rastro-idiomas
		#rastro
			ul#rastro_breadcrumb
				li.first
					span.first #{titulo}
	#general
		+ menu("Información Institucional")
		#pagina
			h1#titulo_pagina
				span.texto_titulo #{seccion}

			div(id="contenido", class="sec_interior")
				.content_doku
					
					each element in contenido
						+ list(element)
