//
	UGR Transparente. Sitio Web de la Universidad de Granada de acceso a Datos Abiertos.
	Copyright (C) 2014 Jaime Torres Benavente, Óscar Zafra Megías
	Copyright (C) 2015 Mario Heredia Moreno, Germán Martínez Maldonado

	This file is part of UGR Transparente.

	UGR Transparente is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	UGR Transparente is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.

	You should have received a copy of the GNU General Public License
	along with this program. If not, see <http://www.gnu.org/licenses/>.


doctype html

html(lang="es")
	head
		title UGR transparente | Universidad de Granada
		meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
		meta(name="description", content="Universidad de Granada - UGR transparente")
		meta(name="keywords", content="universidad, Granada, UGR transparente, ley de transparencia")
		link(rel="shortcut icon", href="/img/general/favicon.ico", type="image/vnd.microsoft.icon")
		link(rel="icon", href="/img/general/favicon.ico", type="image/vnd.microsoft.icon")
		link(rel="stylesheet", id="css-style", type="text/css", href="css/style.css", media="all")
		link(rel="stylesheet", id="css-style2", type="text/css", href="css/style2.css", media="all")

		link(rel="stylesheet", type="text/css", href="css/font-awesome.min.css", media="all")

		script(type='text/javascript').
			function mostrar_menu_administracion(){
				var menu=document.getElementById("menu_administracion");
				if(menu.style.display == "none"){
					menu.style.display = "block";
				}else
					menu.style.display = "none";
			}

			function mostrar_menu_docencia(){
				var menu=document.getElementById("menu_docencia");
				if(menu.style.display == "none"){
					menu.style.display = "block";
				}else
					menu.style.display = "none";
			}

			function mostrar_menu_gestion(){
				var menu=document.getElementById("menu_gestion");
				if(menu.style.display == "none"){
					menu.style.display = "block";
				}else
					menu.style.display = "none";
			}

			function mostrar_menu_normativas(){
				var menu=document.getElementById("menu_normativas");
				if(menu.style.display == "none"){
					menu.style.display = "block";
				}else
					menu.style.display = "none";
			}


		if seccion!=="Inicio"
			//script(src="http://code.jquery.com/jquery-1.11.0.min.js")
			script(src="libraries/jquery.js")
			script(src="libraries/underscore.js")
			//script(src="libraries/backbone.js")
			//script(src="libraries/ckan.js")
			//script(src="libraries/recline.js")
			script(type='text/javascript' src='https://www.google.com/jsapi')
			script(src="http://jquery-csv.googlecode.com/git/src/jquery.csv.js")
			script(src="script/generar_tabla.js")
			block scripts

	body
		noscript
			p(class="jsDisabled")
				| Esta página requiere funcionalidades JavaScript. Por favor,
				a(href = "http://www.enable-javascript.com/es/" target="_blank")  habilítelo
				|  para una correcta visualización.

		div(id="boxes")
			div(id="dialog" class="window" hidden)
				img(id="close",src="imagenes/close.png", alt="close", longdesc="cerrar")
				h1#titulo_tabla
				div(id="tabla")
			div(id="mask")
		div(id="contenedor_margenes" class="")
			div(id="contenedor" class="")
				div(id="cabecera" class="")
					h1#cab_inf UGR Transparente
					a(href="http://www.ugr.es" id="enlace_ugr") Universidad de Granada
					span.separador_enlaces |
					a(href="/" id="enlace_stack") UGR Transparente
					span.separador_enlaces |
					a(href="http://www.ugr.es/pages/administracion" id="enlace_eadministracion") Administración electrónica

					//
						div#buscador
							h2 Buscar
							form(action="formulario_buscar" class="mod-buttons")
								#formulario_buscar.mod-buttons
									#buscador-input
										label(id="buscar" for="sq")
											input(class="with_default_value" type="text" name="query" id="sq" value="búsqueda...")
										label(id="enviar_buscar" for="submit_buscar")
											input(type="image" src="./img/transp.gif" alt="iniciar búsqueda" name="submit" id="submit_buscar" class="image-buscar")

				block content

				#banners
					.mod-banners
						ul
							li(class="banner_container model-resaltado-02 showtext")
								a(class="banner", href="http://opendata.ugr.es")
									strong Portal OpenData
									p(class="texto_banner") Ir al portal OpenData de publicación y consulta de datos abiertos de la Universidad de Granada

							li(class="banner_container model-resaltado-02 showtext")
								a(class="banner", href="http://secretariageneral.ugr.es/")
									strong Secretaría General
									p(class="texto_banner") Ver el portal de la Secretaría General de la Universidad de Granada

							li(class="banner_container model-resaltado-02 showtext")
								a(class="banner", href="https://docs.google.com/document/d/1mIrZYU4c6fNUUxnUQysuDhJ7SQtKw22s4WfeyUnZ4Cg/edit#heading=h.4a0kngg63a7l")
									strong Hacia una Universidad Abierta
									p(class="texto_banner") Ir al documento

				#interior_pie
					#pie
						a(id="WAI", href="http://www.w3.org/WAI/WCAG2AA-Conformance")
							img(src="imagenes/wcag2aa.gif", id="wcag2aa", alt="wcag2aa", longdesc="http://www.w3.org/WAI/WCAG2AA-Conformance")
						a(href="mapaweb.html") Mapa del sitio
						span.separador_enlaces |
						a(href="https://github.com/oslugr/ugr-transparente-servidor") Este servidor es software libre
						span.separador_enlaces |
						a(href="http://www.gnu.org/licenses/gpl-3.0.html") Liberado bajo GPL v3.0
						span.separador_enlaces  |
						a(class="contactar", href="http://www.ugr.es/pages/contacto", target="_blank") Contacto
						span.separador_enlaces |
						a(href="https://github.com/oslugr/ugr-transparente-servidor/issues", target="_blank") Ir a sugerencias
						//span.separador_enlaces  |
						//a(class="validador", href="#") Accesibilidad
						//span.separador_enlaces  |
						//a(class="privacidad", href="#") Política de privacidad
						p
							a(href="http://www.ugr.es/pages/creditos") &copy; 2015
							span.separador_enlaces |
							a(href="http://www.ugr.es")  Universidad de Granada
