<div id="contenido">
    <ul class="square-seccion">
        <% for(var i in secciones){
            var sec=secciones[i];
            var link="";
            if (sec.enlace) link="href=" + sec.enlace;
            %>
        <li>
            <a class="seccion" <%=link%>><%=sec.nombre%></a>
        </li>
        <ul class="square-seccion2">
            <%for(var j in sec.subsecciones){
                var subsec=sec.subsecciones[j];
                %>
            <li>
                <a class="seccion2" href="<%=subsec.enlace%>"><%=subsec.nombre%></a>
            </li>
            <ul class="square-seccion3">
                <%for(var k in subsec.contenido){
                    var cont=subsec.contenido[k];
                    %>
                <li>
                    <a class="seccion3" href="<%=subsec.enlace%>#<%=cont.link%>"><%=cont.encabezado%></a>
                </li>
            <%}%>
        </ul>
    <%}%>
</ul>
<%}%>
</ul>
</div>