//
	Portal web transparente.ugr.es para publicar datos de la Universidad de Granada
	Copyright (C) 2014  Jaime Torres Benavente

	This program is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.

	You should have received a copy of the GNU General Public License
	along with this program.  If not, see <http://www.gnu.org/licenses/>.


extends layout

block content
	#rastro-idiomas
		#rastro
			ul#rastro_breadcrumb
				li.first
					a(class="first", href="/mapaweb.html") #{titulo}
	#general
		#menus
			- var mode1 = "tipo2 item-first_level"
			- var mode2 = "tipo2 item-first_level"
			- var mode3 = "tipo2 item-first_level"
			- var mode4 = "tipo2 item-first_level"
			- var mode5 = "tipo2 item-first_level"
			- var mode6 = "tipo2 item-first_level"
			- var mode7 = "tipo2 item-first_level"
			- var submenu1_display = "display:none;"
			- var submenu2_display = "display:none;"
			- var submenu3_display = "display:none;"
			- var item1_selected = "tipo1"
			- var item2_selected = "tipo1"
			- var item3_selected = "tipo1"
			- var item4_selected = "tipo1"

			- var item5_selected = "tipo1"
			- var item6_selected = "tipo1"
			- var item7_selected = "tipo1"

			- var item8_selected = "tipo1"
			- var item9_selected = "tipo1"
			- var item10_selected = "tipo1"
			- var item11_selected = "tipo1"
			include ./plantilla_menus.jade
		#pagina
			h1#titulo_pagina
				span.texto_titulo #{titulo}

			div(id="contenido", class="sec_interior")
				.content_doku
					ul.enlaces
						li.level1
							- for (var i = 0; i < tam_seccion; i++)
								.li
									a(class="enlaces-cabecera" href="#{seccion_enlaces[i]}") #{seccion[i]}
								ul.enlaces
									if seccion[i] == "Administración"
										- for (var j = 0; j < tam_categorias_admin; j++)
											.li
												a(href="#{categ_admin_enlaces[j]}") #{categ_admin[j]}
											ul.enlaces
												if categ_admin[j] == "Personal"
													- for (var k = 0; k < tam_dataset_personal; k++)
														.li
															a(href="#{categ_admin_enlaces[j]}##{dataset_personal[k].encabezado}") #{dataset_personal[k].encabezado}
												else if categ_admin[j] == "Información Económica"
													- for (var k = 0; k < tam_dataset_infoEco; k++)
														.li
															a(href="#{categ_admin_enlaces[j]}##{dataset_infoEco[k].encabezado}") #{dataset_infoEco[k].encabezado}
												else if categ_admin[j] == "Servicios"
													- for (var k = 0; k < tam_dataset_serv; k++)
														.li
															a(href="#{categ_admin_enlaces[j]}##{dataset_serv[k].encabezado}") #{dataset_serv[k].encabezado}
									else if seccion[i] == "Docencia"
										- for (var j = 0; j < tam_categorias_doc; j++)
											.li
												a(href="#{categ_doc_enlaces[j]}") #{categ_doc[j]}
											ul.enlaces
												if categ_doc[j] == "Oferta y Demanda"
													- for (var k = 0; k < tam_dataset_ofYde; k++)
														.li
															a(href="#{categ_doc_enlaces[j]}##{dataset_ofYde[k].encabezado}") #{dataset_ofYde[k].encabezado}
												else if categ_doc[j] == "Claustro"
													- for (var k = 0; k < tam_dataset_claustro; k++)
														.li
															a(href="#{categ_doc_enlaces[j]}##{dataset_claustro[k].encabezado}") #{dataset_claustro[k].encabezado}
												else if categ_doc[j] == "Estudiantes"
													- for (var k = 0; k < tam_dataset_estudiantes; k++)
														.li
															a(href="#{categ_doc_enlaces[j]}##{dataset_estudiantes[k].encabezado}") #{dataset_estudiantes[k].encabezado}
									else if seccion[i] == "Gestión e Investigación"
										- for (var j = 0; j < tam_categorias_gest; j++)
											.li
												a(href="#{categ_gest_enlaces[j]}") #{categ_gest[j]}
											ul.enlaces
												if categ_gest[j] == "Misión"
													- for (var k = 0; k < tam_dataset_mision; k++)
														.li
															a(href="#{categ_gest_enlaces[j]}##{dataset_mision[k].encabezado}") #{dataset_mision[k].encabezado}
												else if categ_gest[j] == "Plan Estratégico"
													- for (var k = 0; k < tam_dataset_plan; k++)
														.li
															a(href="#{categ_gest_enlaces[j]}##{dataset_plan[k].encabezado}") #{dataset_plan[k].encabezado}
												else if categ_gest[j] == "Gobierno"
													- for (var k = 0; k < tam_dataset_gobierno; k++)
														.li
															a(href="#{categ_gest_enlaces[j]}##{dataset_gobierno[k].encabezado}") #{dataset_gobierno[k].encabezado}
												else if categ_gest[j] == "Estadísticas"
													- for (var k = 0; k < tam_dataset_estad; k++)
														.li
															a(href="#{categ_gest_enlaces[j]}##{dataset_estad[k].encabezado}") #{dataset_estad[k].encabezado}
									else if seccion[i] == "Normativa Legal"
										- for (var j = 0; j < tam_dataset_normativa; j++)
											.li
												a(href="#{seccion_enlaces[i]}##{dataset_normativa[j].encabezado}") #{dataset_normativa[j].encabezado}
