//
	UGR Transparente. Sitio Web de la Universidad de Granada de acceso a Datos Abiertos.
	Copyright (C) 2014 Jaime Torres Benavente, Óscar Zafra Megías
	Copyright (C) 2015 Mario Heredia Moreno, Germán Martínez Maldonado
	Copyright (C) 2016 Andrés Ortiz Corrales

	This file is part of UGR Transparente.

	UGR Transparente is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	UGR Transparente is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.

	You should have received a copy of the GNU General Public License
	along with this program. If not, see <http://www.gnu.org/licenses/>.


mixin menu (seleccion)
	- var show1=false
	- var show2=false
	- var show3=false
	if seleccion=="Personal" || seleccion=="Información Económica" || seleccion=="Perfil del Contratante"
		- var show1=true
	if seleccion=="Oferta y Demanda Académica" || seleccion=="Claustro" || seleccion=="Estudiantes"
		- var show2=true
	if seleccion=="Gobierno" || seleccion=="Rendimiento"
		- var show3=true
		
	div(id="enlaces_secciones", class="mod-menu_secciones")
		ul
			+ first_level_item ("Inicio","/index.html",seleccion)
			+ first_level_item ("Información Institucional","/infoInstitucional.html",seleccion)
			+ first_level_menu ("Administración","menu_administración",show1)
				+ second_level_item ("Personal","/personal.html",seleccion)
				+ second_level_item ("Información Económica","/infoEconomica.html",seleccion)
				+ second_level_item ("Perfil del Contratante","/perfilContratante.html",seleccion)
			+ first_level_menu ("Docencia","menu_docencia",show2)
				+ second_level_item ("Oferta y Demanda Académica","/ofertaDemanda.html",seleccion)
				+ second_level_item ("Claustro","/claustro.html",seleccion)
				+ second_level_item ("Estudiantes","/estudiantes.html",seleccion)
			+ first_level_menu ("Gestión e Investigación","menu_gestion",show3)
				+ second_level_item ("Gobierno","/gobierno.html",seleccion)
				+ second_level_item ("Rendimiento","/rendimiento.html",seleccion)
			+ first_level_item ("Normativa Legar","/normativa.html",seleccion)
			+ first_level_item ("Solicitud de Información","/solicitudInfo.html",seleccion)



//First level Item			
mixin first_level_item (name,link,selected)
	if selected==name
		li(class="selected tipo2-selected item-first_level")
			a(href="#{link}") #{name}
	else
		li(class="tipo2 item-first_level")
			a(href="#{link}") #{name}

//Menu with second_level items
mixin first_level_menu (name,menu_id,selected)
	if selected
		- var item_class="selected tipo2-selected item-first_level"
		- var submenu_display=""
	else
		- var item_class="tipo2 item-first_level"
		- var submenu_display="display:none;"

	li(class="#{item_class}")
		a(class="grupos",onclick="mostrar_menu('#{menu_id}')") #{name}
		ul(id="#{menu_id}", style="#{submenu_display}")
			block

//Item in a second level
mixin second_level_item (name,link,selected)
	if selected==name
		- var item_class="tipo1-selected"
	else
		- var item_class="tipo1"
	li(class="#{item_class} item-second_level id_5944 tipo1-parent_5284 mainmenu_item1 mainmenu_itemid_5944 mainmenu_itemname_titulacionesenextincin mainmenu_nchar_26 mainmenu_nchar10_30 last-child")
		a(href="#{link}") #{name}
