//
	Portal web transparente.ugr.es para publicar datos de la Universidad de Granada
	Copyright (C) 2014  Jaime Torres Benavente
	2015  German Martinez Maldonado

	This program is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.

	You should have received a copy of the GNU General Public License
	along with this program.  If not, see <http://www.gnu.org/licenses/>.

extends layout

//block scripts

block content
	#rastro-idiomas
		#rastro
			ul#rastro_breadcrumb
				li.first
					a(class="first", href="/ofertaYdemanda.html") Docencia / #{seccion}
	#general
		#menus
			- var mode1 = "tipo2 item-first_level"
			- var mode2 = "tipo2 item-first_level"
			- var mode3 = "tipo2 item-first_level"
			- var mode4 = "selected tipo2-selected item-first_level"
			- var mode5 = "tipo2 item-first_level"
			- var mode6 = "tipo2 item-first_level"
			- var mode7 = "tipo2 item-first_level"
			- var submenu1_display = "display:none;"
			- var submenu2_display = ""
			- var submenu3_display = "display:none;"
			- var item1_selected = "tipo1"
			- var item2_selected = "tipo1"
			- var item3_selected = "tipo1"
			- var item4_selected = "tipo1"

			- var item5_selected = "tipo1-selected"
			- var item6_selected = "tipo1"
			- var item7_selected = "tipo1"

			- var item8_selected = "tipo1"
			- var item9_selected = "tipo1"
			- var item10_selected = "tipo1"
			- var item11_selected = "tipo1"
			include ./plantilla_menus.jade
		#pagina
			h1#titulo_pagina
				span.texto_titulo #{seccion}

			div(id="contenido", class="sec_interior")
				.content_doku

					ul.enlaces
						li.level1
							- for (var i = 0; i < contenido.length; i++)
								.li
									a(class="enlaces-cabecera" href="##{contenido[i].encabezado}") #{contenido[i].encabezado}

					- for (var j = 0; j < contenido.length; j++)
						h1
							a(id="#{contenido[j].encabezado}", name="__doku_encabezado_de_primer_nivel") #{contenido[j].encabezado}

						.level1
							p #{contenido[j].texto}

						table.inline
							tbody
								tr
									th.centeralign Descripción
									th.centeralign Datos en Opendata
									th.centeralign Ver
									th.centeralign Archivo

								- for (var k = 0; k < datos.length; k++)
									- if (datos[k].dataset.localeCompare(contenido[j].encabezado) == 0)
										tr
											td(class="centeralign par") #{datos[k].nombre}
											td(class="centeralign impar")
												a(href="#{servidor}dataset/#{datos[k].id_dataset}/resource/#{datos[k].url}",target="_blank")
													img(class="link",src="imagenes/link.png", alt="link")
											td(class="centeralign par")
												a(href="#dialog" class="view" rel="#{servidor}dataset/#{datos[k].descarga}" name="#{datos[k].nombre}")
													img(class="view",src="imagenes/view.png", alt="view")
											td(class="centeralign impar")
												a(href="#{servidor}dataset/#{datos[k].descarga}")
													img(class="save",src="imagenes/save.png", alt="save")
