//
	UGR Transparente. Sitio Web de la Universidad de Granada de acceso a Datos Abiertos.
	Copyright (C) 2014 Jaime Torres Benavente, Óscar Zafra Megías
	Copyright (C) 2015 Mario Heredia Moreno, Germán Martínez Maldonado

	This file is part of UGR Transparente.

	UGR Transparente is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	UGR Transparente is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.

	You should have received a copy of the GNU General Public License
	along with this program. If not, see <http://www.gnu.org/licenses/>.


div(id="enlaces_secciones", class="mod-menu_secciones")
	ul
		li(class="#{mode1}")
			a(href="/index.html") Inicio

		li(class="#{mode2}")
			a(href="/presentacion.html") Presentación

		li(class="#{mode3}")
			a(class="grupos",onclick="mostrar_menu_administracion()") Administración
			ul(id="menu_administracion", style="#{submenu1_display}")
				li(class="#{item1_selected} item-second_level id_5944 tipo1-parent_5284 mainmenu_item1 mainmenu_itemid_5944 mainmenu_itemname_titulacionesenextincin mainmenu_nchar_26 mainmenu_nchar10_30 first-child")
					a(href="personal.html") Personal

				li(class="#{item2_selected} item-second_level id_5944 tipo1-parent_5284 mainmenu_item1 mainmenu_itemid_5944 mainmenu_itemname_titulacionesenextincin mainmenu_nchar_26 mainmenu_nchar10_30 first-child")
					a(href="infoEconomica.html") Información Económica

				li(class="#{item3_selected} item-second_level id_5944 tipo1-parent_5284 mainmenu_item1 mainmenu_itemid_5944 mainmenu_itemname_titulacionesenextincin mainmenu_nchar_26 mainmenu_nchar10_30 first-child")
					a(href="servicios.html") Servicios

				li(class="#{item4_selected} item-second_level id_5944 tipo1-parent_5284 mainmenu_item1 mainmenu_itemid_5944 mainmenu_itemname_titulacionesenextincin mainmenu_nchar_26 mainmenu_nchar10_30 first-child")
					a(href="perfilContratante.html") Perfil del Contratante

		li(class="#{mode4}")
			a(class="grupos",onclick="mostrar_menu_docencia()") Docencia
			ul(id="menu_docencia", style="#{submenu2_display}")
				li(class="#{item5_selected} item-second_level id_5944 tipo1-parent_5284 mainmenu_item1 mainmenu_itemid_5944 mainmenu_itemname_titulacionesenextincin mainmenu_nchar_26 mainmenu_nchar10_30 first-child")
					a(href="ofertaDemanda.html") Oferta y Demanda Académica

				li(class="#{item6_selected} item-second_level id_5944 tipo1-parent_5284 mainmenu_item1 mainmenu_itemid_5944 mainmenu_itemname_titulacionesenextincin mainmenu_nchar_26 mainmenu_nchar10_30 first-child")
					a(href="claustro.html") Claustro

				li(class="#{item7_selected} item-second_level id_5944 tipo1-parent_5284 mainmenu_item1 mainmenu_itemid_5944 mainmenu_itemname_titulacionesenextincin mainmenu_nchar_26 mainmenu_nchar10_30 last-child")
					a(href="estudiantes.html") Estudiantes

		li(class="#{mode5}")
			a(class="grupos",onclick="mostrar_menu_gestion()") Gestión e Investigación
			ul(id="menu_gestion", style="#{submenu3_display}")
				li(class="#{item8_selected} item-second_level id_5944 tipo1-parent_5284 mainmenu_item1 mainmenu_itemid_5944 mainmenu_itemname_titulacionesenextincin mainmenu_nchar_26 mainmenu_nchar10_30 first-child")
					a(href="mision.html") Misión

				li(class="#{item9_selected} item-second_level id_5944 tipo1-parent_5284 mainmenu_item1 mainmenu_itemid_5944 mainmenu_itemname_titulacionesenextincin mainmenu_nchar_26 mainmenu_nchar10_30 first-child")
					a(href="planEstrategico.html") Plan Estratégico

				li(class="#{item10_selected} item-second_level id_5944 tipo1-parent_5284 mainmenu_item1 mainmenu_itemid_5944 mainmenu_itemname_titulacionesenextincin mainmenu_nchar_26 mainmenu_nchar10_30 first-child")
					a(href="gobierno.html") Gobierno

				li(class="#{item11_selected} item-second_level id_5944 tipo1-parent_5284 mainmenu_item1 mainmenu_itemid_5944 mainmenu_itemname_titulacionesenextincin mainmenu_nchar_26 mainmenu_nchar10_30 last-child")
					a(href="rendimiento.html") Rendimiento

		li(class="#{mode6}")
			a(href="normativaLegal.html") Normativa Legal

		li(class="#{mode7}")
			a(href="solicitudInfo.html") Solicitud de Información

div(id="frecuentes", class="mod-menu_secciones menu_frecuentes", style="display: none;")
	ul
		li(class="adicional1 item-first_level")
			a(href="#") Elemento 1er nivel
			ul
				li(class="tipo1 item-second_level")
					a(href="#") Elemento 2º nivel
