//	
	Portal web transparente.ugr.es para publicar datos de la Universidad de Granada
	Copyright (C) 2014  Jaime Torres Benavente

	This program is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.

	You should have received a copy of the GNU General Public License
	along with this program.  If not, see <http://www.gnu.org/licenses/>.


extends layout

block content
	#rastro-idiomas
		#rastro
			ul#rastro_breadcrumb
				li.first
					a(class="first", href="/resultados.html") Gestión e Investigación / #{seccion}
	#general
		#menus
			div(id="enlaces_secciones", class="mod-menu_secciones")
				ul
					li(class="tipo2 item-first_level")
						a(href="/index.html") Inicio

					li(class="tipo2 item-first_level")
						h2(class="grupos",onclick="mostrar_menu_administracion()") Administración
						ul(id="menu_administracion", style="display:none;")
							li(class="tipo1 item-second_level id_5944 tipo1-parent_5284 mainmenu_item1 mainmenu_itemid_5944 mainmenu_itemname_titulacionesenextincin mainmenu_nchar_26 mainmenu_nchar10_30 first-child")
								a(href="personal.html") Personal

							li(class="tipo1 item-second_level id_5944 tipo1-parent_5284 mainmenu_item1 mainmenu_itemid_5944 mainmenu_itemname_titulacionesenextincin mainmenu_nchar_26 mainmenu_nchar10_30 last-child")
								a(href="infoEconomica.html") Información Económica

					li(class="tipo2 item-first_level")
						h2(class="grupos",onclick="mostrar_menu_docencia()") Docencia
						ul(id="menu_docencia",style="display:none;")
							li(class="tipo1 item-second_level id_5944 tipo1-parent_5284 mainmenu_item1 mainmenu_itemid_5944 mainmenu_itemname_titulacionesenextincin mainmenu_nchar_26 mainmenu_nchar10_30 first-child")
								a(href="ofertaYdemanda.html") Oferta y Demanda Académica

							li(class="tipo1 item-second_level id_5944 tipo1-parent_5284 mainmenu_item1 mainmenu_itemid_5944 mainmenu_itemname_titulacionesenextincin mainmenu_nchar_26 mainmenu_nchar10_30 first-child")
								a(href="claustro.html") Claustro

							li(class="tipo1 item-second_level id_5944 tipo1-parent_5284 mainmenu_item1 mainmenu_itemid_5944 mainmenu_itemname_titulacionesenextincin mainmenu_nchar_26 mainmenu_nchar10_30 last-child")
								a(href="alumnos.html") Alumnos


					li(class="selected tipo2-selected item-first_level")
						h2(class="grupos",onclick="mostrar_menu_gestion()") Gestión e Investigación
						ul(id="menu_gestion")
							li(class="tipo1 item-second_level id_5944 tipo1-parent_5284 mainmenu_item1 mainmenu_itemid_5944 mainmenu_itemname_titulacionesenextincin mainmenu_nchar_26 mainmenu_nchar10_30 first-child")
								a(href="mision.html") Misión

							li(class="tipo1 item-second_level id_5944 tipo1-parent_5284 mainmenu_item1 mainmenu_itemid_5944 mainmenu_itemname_titulacionesenextincin mainmenu_nchar_26 mainmenu_nchar10_30 first-child")
								a(href="planEstrategico.html") Plan estratégico

							li(class="tipo1 item-second_level id_5944 tipo1-parent_5284 mainmenu_item1 mainmenu_itemid_5944 mainmenu_itemname_titulacionesenextincin mainmenu_nchar_26 mainmenu_nchar10_30 first-child")
								a(href="gobierno.html") Gobierno


							li(class="tipo1-selected item-second_level id_5944 tipo1-parent_5284 mainmenu_item1 mainmenu_itemid_5944 mainmenu_itemname_titulacionesenextincin mainmenu_nchar_26 mainmenu_nchar10_30 last-child")
								a(href="resultados.html") Resultados


			div(id="frecuentes", class="mod-menu_secciones menu_frecuentes", style="display: none;")
				ul
					li(class="adicional1 item-first_level")
						a(href="#") Elemento 1er nivel
						ul
							li(class="tipo1 item-second_level")
								a(href="#") Elemento 2º nivel

		#pagina
			h1#titulo_pagina
				span.texto_titulo #{seccion}

			div(id="contenido", class="sec_interior")
				.content_doku
					ul.enlaces
						li.level1
							- for (var i = 0; i < tam; i++)
								.li 
									a(class="enlaces-cabecera" href="##{contenido[i].encabezado}") #{contenido[i].encabezado}

					- for (var j = 0; j < tam; j++)
						h1
							a(id="#{contenido[j].encabezado}", name="__doku_encabezado_de_primer_nivel") #{contenido[j].encabezado}

						.level1
							p #{contenido[j].texto}

						table.inline
							tbody
								tr
									th.centeralign Descripción 
									th.centeralign Datos en Opendata
									th.centeralign Ver 
									th.centeralign Archivo

								- for (var k = 0; k < datos[j].length; k++)
									tr
										td(class="centeralign par") #{datos[j][k].nombre}
										td(class="centeralign impar") 
											a(href="#{servidores[j][0].servidor}#{servidores[j][0].url}#{datos[j][k].url}",target="_blank")
												img(class="link",src="imagenes/link.png", alt="link")
										td(class="centeralign par")
											a(href="#dialog" class="view" rel="#{servidores[j][0].servidor}#{datos[j][k].descarga}" name="#{datos[j][k].nombre}")
												img(class="view",src="imagenes/view.png", alt="view")
										td(class="centeralign impar") 
											a(href="#{servidores[j][0].servidor}#{datos[j][k].descarga}")
												img(class="save",src="imagenes/save.png", alt="save")
