<div id="menus">
    <div id="enlaces_secciones" class="mod-menu_secciones">
        <ul>
            {{{firstLevelItem "Inicio" "/index.html" seccion}}}
            {{{firstLevelItem "Información Institucional" "/infoInstitucional.html" seccion}}}
            {{{firstLevelMenu "Administración" seccion}}}
                {{{secondLevelItem "Personal" "/personal.html" seccion}}}
                {{{secondLevelItem "Información Económica" "/infoEconomica.html" seccion}}}
                {{{secondLevelItem "Perfil de Contratante" "/perfilContratante.html" seccion}}}
            {{{firstLevelMenuEnd}}}
            {{{firstLevelMenu "Docencia" seccion}}}
                {{{secondLevelItem "Oferta y Demanada Académica" "/ofertaDemanda.html" seccion}}}
                {{{secondLevelItem "Claustro" "/claustro.html" seccion}}}
                {{{secondLevelItem "Estudiantes" "/estudiantes.html" seccion}}}
            {{{firstLevelMenuEnd}}}
            {{{firstLevelMenu "Gestión e Investigación" seccion}}}
                {{{secondLevelItem "Gobierno" "/gobierno.html" seccion}}}
                {{{secondLevelItem "Rendimiento" "/rendimiento.html" seccion}}}
            {{{firstLevelMenuEnd}}}
            {{{firstLevelItem "Normativa Legal" "/normativaLegal.html" seccion}}}
            {{{firstLevelItem "Solicitud de Información" "/solicitudInfo.html" seccion}}}
        </ul>
    </div>
</div>
