extends layout
include menu.jade

block content
	#rastro-idiomas
		#rastro
			ul#rastro_breadcrumb
				li.first
					span.first #{seccion}
	#general
		+ menu("")
		#pagina
			h1#titulo_pagina
				span.texto_titulo #{seccion}

			div(id="contenido")

				ul.square_seccion
					each seccion in secciones
						if (seccion.enlace == "")
							li
								a(class="seccion", href=null) #{seccion.nombre}
						else
							li
								a(class="seccion", href="#{seccion.enlace}") #{seccion.nombre}

						ul.square_seccion2
							each subseccion in seccion.subsecciones
								li
									a(class="seccion2", href="#{subseccion.enlace}") #{subseccion.nombre}
								ul.square_seccion3
									each entrada in subseccion.contenido
										li
											a(class="seccion3", href="#{subseccion.enlace}##{entrada.link}") #{entrada.encabezado}
