extends layout
include tablas.jade
include menu.jade

block content
	#rastro-idiomas
		#rastro
			ul#rastro_breadcrumb
				li.first
					span.first Docencia / #{seccion}
	#general
		+ menu(seccion)
		#pagina
			h1#titulo_pagina
				span.texto_titulo #{seccion}

			div(id="contenido", class="sec_interior")
				.content_doku

					ul.enlaces
						li.level1
							each valor in contenido
								if valor.seccion == ""
									.li
										a(class="enlaces-cabecera" href="##{valor.link}") #{valor.encabezado}
							.li
								a(class="enlaces-cabecera" href=null) Oferta académica
							ul.enlaces
								li.level2
									each valor in contenido
										if valor.seccion == "Oferta académica"
											.li
												a(class="enlaces-cabecera" href="##{valor.link}") #{valor.encabezado}
							.li
								a(class="enlaces-cabecera" href=null) Oferta y demanda de plazas
							ul.enlaces
								li.level2
									each valor in contenido
										if valor.seccion == "Oferta y demanda de plazas"
											.li
												a(class="enlaces-cabecera" href="##{valor.link}") #{valor.encabezado}

					+ generar_tablas(contenido)
