extends layout
include tablas.jade
include menu.jade

block content
	#rastro-idiomas
		#rastro
			ul#rastro_breadcrumb
				li.first
					span.first Gestión e Investigación / #{seccion}
	#general
		+ menu(seccion)
		#pagina
			h1#titulo_pagina
				span.texto_titulo #{seccion}

			div(id="contenido", class="sec_interior")
				.content_doku

					ul.enlaces
						li.level1
							each valor in contenido
								if valor.seccion == ""
									.li
										a(class="enlaces-cabecera" href="##{valor.link}") #{valor.encabezado}
							.li
								a(class="enlaces-cabecera" href=null) Labor investigadora
							ul.enlaces
								li.level2
									each valor in contenido
										if valor.seccion == "Labor investigadora"
											.li
												a(class="enlaces-cabecera" href="##{valor.link}") #{valor.encabezado}
							.li
								a(class="enlaces-cabecera" href=null) Rendimiento académico
							ul.enlaces
								li.level2
									each valor in contenido
										if valor.seccion == "Rendimiento académico"
											.li
												a(class="enlaces-cabecera" href="##{valor.link}") #{valor.encabezado}
							.li
								a(class="enlaces-cabecera" href=null) Satisfacción de estudiantes
							ul.enlaces
								li.level2
									each valor in contenido
										if valor.seccion == "Satisfacción de estudiantes"
											.li
												a(class="enlaces-cabecera" href="##{valor.link}") #{valor.encabezado}
							.li
								a(class="enlaces-cabecera" href=null) Ranking
							ul.enlaces
								li.level2
									each valor in contenido
										if valor.seccion == "Ranking"
											.li
												a(class="enlaces-cabecera" href="##{valor.link}") #{valor.encabezado}
							.li
								a(class="enlaces-cabecera" href=null) Empleabilidad
							ul.enlaces
								li.level2
									each valor in contenido
										if valor.seccion == "Empleabilidad"
											.li
												a(class="enlaces-cabecera" href="##{valor.link}") #{valor.encabezado}

					+ generar_tablas(contenido)
