<div id="contenido">
    <ul class="square_seccion">
        {{#each secciones}}
            <li>
                <a class="seccion" {{{linkOrNull enlace}}}>{{nombre}}</a></li>
        <ul class="square_seccion2">
            {{#each subsecciones}}
                <li>
                    <a class="seccion2" href="{{enlace}}">{{nombre}}</a>
                </li>
                <ul class="square_seccion3">
                    {{#each contenido}}
                        <li>                        <!--fix enlace -->
                            <a class="seccion3" href="{{enlace}}##{{link}}">{{encabezado}}</a>
                        </li>
                    {{~/each}}
                </ul>            
            {{~/each}}
        </ul>
        {{~/each}}
    </ul>
</div>
